<ul>
        <li><b>ID:</b> {{Course.id}} </li>
        <li><b>Name:</b> {{Course.name}} </li>
        <li><b>Code:</b> {{Course.code}} </li>
        <li><b>Desc.:</b> {{Course.description}} </li>
</ul>