<span ng-show="Instructor.multiple">
<button ng-disabled="(Instructor.page <=1)" data-ng-click="Instructor.getCourses('backward')"><b> < </b></button> <button data-ng-click="Instructor.getCourses('forward')"><b> > </b></button>
</span>
<ul ng-show="Instructor.multiple">
    <li data-ng-repeat="item in Instructor.courses" style="cursor:pointer;"  ng-click="Instructor.redirect(item.id)">
        <ul>
            <li><b>ID:</b> {{item.id}} </li>
             <li><b>Name:</b> {{item.name}} </li>
              <li><b>Code:</b> {{item.code}} </li>
               <li><b>Desc.:</b> {{item.description}} </li>
        </ul>
        <hr>
    </li>
</ul>
<ul  ng-show="!Instructor.multiple">
            <li><b>ID:</b> {{Instructor.courses.id}} </li>
             <li><b>Name:</b> {{Instructor.courses.name}} </li>
              <li><b>Code:</b> {{Instructor.courses.code}} </li>
               <li><b>Desc.:</b> {{Instructor.courses.description}} </li>
        </ul>